
.scrollable-container {
    overflow: auto;
}

.scrollable-container::-webkit-scrollbar {
    display: block;
    border-radius: 5%;
    width: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: rgb(210, 210, 210);
    width: 20px;
    border-radius: 9999px;
}
    
.scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgb(111, 111, 111);
    border-left: none;
    border-radius: 9999px;
    width: 3px;
    border: 24px;
    background-clip: padding-box;
}

.scrollable-container::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 0px; 
    margin-right: 30px; 
    
}

.scrollable-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 0px;
    margin-right: 30px;
}


