{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Michal-about</title>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
{% endblock %}

{% block content %}
    <div class="profile-card scrollable-container">
        <div class="about-text profile-card-content"> 
            <h1>About me</h1>
            <p><a>{{ bio|linebreaksbr }}</a></p>
            
        </div>
        {% if profile_image %}
            <img src="{{ profile_image.url }}" id="myImg" class="myImg profile-image profile-card-content zoomable-hover modal-content sizeable">
        {% endif %}
    </div>
{% endblock content %}

