{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Article: {{ post.title }}</title>{% endblock %}
{% block content %}
    <h1><a class="article-title">{{ post.title }}</a></h1>
    <a class="mr-2" href="#">{{ post.author }}</a></br>
    <small class="mr-2">{{post.created_on}}</small></br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href='{% url 'update-post' post.pk %}'>Edit</a></small></br>
        {% endif %}
    {% endif %}
    {{ post.content|safe|linebreaksbr }}
    {% if post.article_image %}
        <img src="{{post.article_image.url}}" class="article-image w-25">
    {% endif %}

    <br></br>
    <hr>
    </br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
            <small>Must be logged in to like</small>
        {% endif %}
        {{ total_likes }} likes
    </form>

<br/><br/>

{% if post.author.profile %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if post.author.profile.profile_image %}
                <img src="{{ post.author.profile.profile_image.url }}" class="img-small rounded-circle">
            {% else %}
                <img src="{% static 'Blog/images/placeholder.png' %}" class="img-small rounded-circle">
            {% endif %}

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.author }}</h5>

                <p class="small-text-muted">

                    {% if post.author.profile.twitter_link %}
                        <a href="{{ post.author.profile.twitter_link }}">Twitter</a>
                    {% endif %}

                    {% if post.author.profile.facebook_link %}
                        | <a href="{{ post.author.profile.facebook_link }}">Facebook</a>
                    {% endif %}

                    {% if post.author.profile.website_link %}
                        | <a href="{{ post.author.profile.website_link }}">Web</a>
                    {% endif %}
                    
                    | <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile</a>

                </p>
                
                {% if post.author.profile.bio %}
                    <p class="card-text">{{ post.author.profile.bio }}</p>
                {% endif %}
                
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

    
{% endblock content %}
