{% load static %}
{% block title %}<title>Michal</title>{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/image_zoom_hover.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/image_zoom.css' %}">
    <link rel="stylesheet" href="{% static 'css/image_position.css' %}">
    <link rel="stylesheet" href="{% static 'css/container_scroll.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/image_zoom.css' %}"> -->
    

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    
    {% block css %}
    {% endblock %}

</head>
<body>
    
    <a class="horizontal-left splash-link bottom-link" href="{% url 'about' %}">About me</a>
    <a class="horizontal-right splash-link bottom-link" href="{% url 'splash' %}">Home</a>
    
    <a class="horizontal-right splash-link top-link" href="{% url 'publications' %}">Publications</a>
    <a class="horizontal-left splash-link top-link" href="{% url 'projects' %}">Projects</a>

    <div class="content-container center" id="content-container">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="Navbar" id="bottom-navbar">
       
       <nav class="Navbar-items-center">
        
        {% if twitter_link %}
          <a class="bi bi-twitter navbar-link" id="twitter" href="{{ twitter_link }}" target="_blank"></a>
        {% endif %}
        {% if researchgate_link %}
          <a class="bi navbar-link text-link" href="{{ researchgate_link }}" target="_blank"> Researchgate </a>
        {% endif %}
        {% if github_link %}
          <a class="bi bi-github navbar-link" href="{{ github_link }}" target="_blank"></a>
        {% endif %}
        {% if linkedin_link %}
          <a class="bi bi-linkedin navbar-link" href="{{ linkedin_link }}" target="_blank"></a>
        {% endif %}
        
        {% if orcid_link %}
          <a class="bi navbar-link text-link" href="{{ orcid_link }}" target="_blank"> Orcid </a>
        {% endif %}
       
        {% if facebook_link %}
          <a class="bi bi-facebook navbar-link" href="{{ facebook_link }}" target="_blank"></a>
        {% endif %}
        {% if instagram_link %}
          <a class="bi bi-instagram navbar-link" href="{{ instagram_link }}" target="_blank"></a>
        {% endif %}

        {% if department_link %}
          <a class="bi navbar-link text-link" href="{{ department_link }}" target="_blank">
            Dept website
          </a>
        {% endif %}
        {% if laboratory_link %}
          <a class="bi navbar-link text-link" href="{{ laboratory_link }}" target="_blank">
            Lab website
          </a>
        {% endif %}

        {% if email %}
          <a class="bi navbar-link text-link"> Email: {{ email }} </a>
        {% endif %}
        
       </nav>
       
    </div>

    <a class="bottom-link horizontal-center navbar-toggle">
      +
    </a>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>

      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">

      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>

    <script src="{% static 'js/toggle_button.js' %}"></script>
    <script src="{% static 'js/image_zoom.js' %}"></script>
    <script src="{% static 'js/model_animation_speed.js' %}"></script>

    
</body>


