{% load static %}
{% block title %}<title>Michal</title>{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/splash.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    
    {% block css %}
    {% endblock %}

</head>
<body>
    
    <a class="bottomleft splash-link bottom-link" href="{% url 'about' %}">About me</a>
    <a class="bottomright splash-link bottom-link" href="{% url 'splash' %}">Home</a>
    
    <a class="topright splash-link" href="{% url 'publications' %}">Publications</a>
    <a class="topleft splash-link" href="#">Projects</a>

    <div class="content-container-down center" id="content-container">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="Navbar" id="bottom-navbar">
       
       <nav class="Navbar__Items Navbar-items-center">
         
         <a class="bi bi-twitter Navbar__Link" href="https://twitter.com/MichalStruska" target="_blank"></a>
         <a class="bi bi-facebook Navbar__Link" href="https://www.facebook.com/michal.struska.50" target="_blank"></a>
         <a class="bi bi-github Navbar__Link" href="https://github.com/MichalStruska/" target="_blank"></a>
         <a class="Navbar__Link text-link" href="https://www.natur.cuni.cz/biology/anthropology/o-katedre" target="_blank">
            Dept website
          </a>
          <a class="Navbar__Link text-link" href="https://www.natur.cuni.cz/biology/anthropology/pracoviste-katedry/laborator-antropologie-kostni-tkane-en" target="_blank">
            Lab website
          </a>

       </nav>
       <nav class="Navbar__Items Navbar__Items--right">
        
       </nav>
    </div>

    <a class="bottom-center navbar-toggle">
      +
    </a>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- The Close Button -->
      <span class="close">&times;</span>

      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">

      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>

    <script src="{% static 'js/toggle_button.js' %}"></script>
    <script src="{% static 'js/image_zoom.js' %}"></script>

    
</body>


