{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Department of Anthropology and Human Genetics</title>{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main03.css' %}">
</head>
<div class="container">
    
    {% block content %}
    
        {% for post in post_list  %}
                <div class="row article-container col-12">
                    <div class="col-sm-7 col-md-4 article-thumbnail content">
                        {% if post.thumbnail_image %}
                            <img src={{post.thumbnail_image.url}} class="image-thumbnail-custom border border-0" alt="Article thumbnail">
                        {% else %}
                            <img src="{% static 'images/Logo_transparent.png' %}" class="img-thumbnail image-thumbnail-custom" alt="Article thumbnail">
                        {% endif %}
                    </div>
                    <div class="col-2"> <model-viewer alt="Neil" src="{% static 'images/male16_gait_info.glb' %}" seamless-poster shadow-intensity="1" camera-controls enable-pan></model-viewer></div>

                    <div class="col-sm-12 col-md-8 article-card content">
                        <div class="article-metadata">
                            <h2><a class="article-title" id="article-title" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
                            <small class="text-muted">{{ post.date_posted }}</small>
                            <a class="mr-2" href="{% url 'category' post.category %}">{{ post.category }}</a></br>
                            <a class="mr-2" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            <small class="mr-2">{{ post.created_on|date:'d M Y' }}</small>
                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <small><a href="{% url 'update-post' post.pk %}">Edit</a></small>
                                    <small><a href="delete/{{ post.id }}">Delete</a></small>
                                {% endif %}
                            {% endif %}
                        
                            <p class="article-content">{{ post.snippet }}</p>
                        </div>
                    </div>
                    <!-- <div class="col-2"></div> -->
                    
                    
                </div>
            <br>

           
        {% endfor %}
        
    {% endblock content %}
</div>
