{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Michal-projects-{{ title|truncatewords:3 }}...</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/publication_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/publication_list.css' %}">
{% endblock %}

{% block content %}
    <div class="publication-list-container scrollable-container">
        <h1 class="title">{{ title }}</h1>
        <p>{{ description|safe|linebreaksbr }}</p>
    </div>
    {% if link %}
        <a class="publication-link" href="{{ link }}" target="_blank">pdf</a>
    {% endif %}
{% endblock content %}