{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Michal-publications</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/publication_list.css' %}">
{% endblock %}
{% block content %}
    <div class="publication-list-container scrollable-container">
        {% for pub in publication_list  %}
            <div class="publication-card">
                
                
                <a>{{ pub.author }}</a>
                <a>({{ pub.publication_date|date:"Y" }}).</a></br>
                {% if pub.description %}
                    <a class="publication-title" href="{% url 'publication-detail' pub.pk %}">{{ pub.title }}</a></br>
                {% else %}
                    <a class="publication-title" href="{% url 'publication-detail' pub.pk %}">{{ pub.title }}</a></br>
                {% endif %}
                <a>{{ pub.journal }},</a>
                <a>{{ pub.pages }}.</a></br>
                
                {% if pub.link %}
                    <a class="publication-link" href="{{ pub.link }}" target="_blank">pdf</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}


