{% extends "blog/base.html" %}
{% load static %}
{% block title %}<title>Michal-home</title>{% endblock %}

{% block content %}
<div class="model" id="3D-model">
  <model-viewer alt="skull" src="{% static 'images/BlenderDonut01.glb' %}" disable-pan interaction-prompt="none" autoplay auto-rotate camera-orbit="310deg 90deg 2" disable-zoom seamless-poster shadow-intensity="1" camera-controls></model-viewer>
  <!-- <model-viewer alt="skull" src="{% static 'images/male_runner04.glb' %}" enable-pan align-model="center" interaction-prompt="none" autoplay animation-name="Run02" auto-rotate camera-orbit="100deg 90deg 2" disable-zoom seamless-poster shadow-intensity="1" camera-controls></model-viewer> -->
</div>
{% endblock content %}

    

