{% load static %}
{% block title %}<title>Michal</title>{% endblock %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/splash.css' %}">
</head>
<body>
    
    <a class="bottomleft splash-link" href="#">About me</a>
    
    <a class="topright splash-link" href="#">Publications</a>
    <a class="topleft splash-link" href="#">Projects</a>
    <div class="center big-model"> <model-viewer alt="skull" src="{% static 'images/paranthropus.glb' %}" interaction-prompt="none" disable-pan auto-rotate camera-orbit="310deg 90deg 2" disable-zoom seamless-poster shadow-intensity="1" camera-controls></model-viewer></div>

    <nav class="navbar fixed-bottom navbar-expand-lg">

        <button class="navbar-toggler lower-center" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
           +
        </button>
        
        <div class="collapse navbar-collapse" id="navbarToggler">
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-item-custom">
                    <a class="nav-item-custom" href="/">About me</a>
                </li>

                <li class="nav-item nav-item-custom">
                    <a class="nav-item-custom" href="/">Publications</a>
                </li>

                <li class="nav-item nav-item-custom">
                    <a class="nav-item-custom" href="/">News</a>
                </li>
            </ul>
        </div>
    </nav>


    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</body>
