.about-text
{
    font-family: Helvetica;
    color:blueviolet;
    width: 50vw;
    
}

.profile-image
{
    width: 30vw;
    
    border-radius: 50%;
    border: solid;
    border-color: blueviolet;
    border-width: 5px;
}

