html, body
{
  height: 100%;
  width: 100%
}
.horizontal-right
{
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
}
.horizontal-left
{
    position: absolute;
    left: 5%;
    transform: translateX(50%);
}

.bottom-center
{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


.bottom-link.bottom-link-move-up
{
    /* position: absolute; */
    transform: translateY(-420%);
    transition: transform .2s ease-out;
}

.bottom-link.bottom-link-move-up.horizontal-center
{
    /* position: absolute; */
    transform: translate(-50%,-420%) rotate(320deg);
    transition: transform .2s ease-out;
}

.bottom-link
{
    bottom:10%;
    transform: translateY(0%);
    transition: transform .2s ease-out;
}

.top-link
{
    top:5%;
    transform: translateY(-50%);
}

.horizontal-center
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower-center
{
    position: absolute;
    padding-bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-link
{
    color:rgb(41, 41, 41);
    font-size: 16pt;
}

.splash-link:hover, .navbar-link:hover
{
    color:rgb(0, 109, 121);
}

model-viewer
{
    left:0;
    position:relative;
    width:100%;
    height:100%;
}

.model
{
    height: 50vh;
    aspect-ratio:1/1;
    position:relative;
    
}


.navbar{
    background-color: #505050;
    -webkit-flex-direction: column;
    -webkit-display: flex;
    /* display: none; */
    transform: translateY(100%);
    /* visibility: hidden; */
    padding: 16px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    height: 20%;
    bottom: 0;
    width: 100%;
    transition: transform .2s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .navbar.active
  {
    transform: translateY(0%);
    /* visibility: visible; */
    
    /* height: 20%; */
    transition: transform .2s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .navbar-link.bi {
    padding-right: 0;
    text-align: center;
    -webkit-text-align: center;
    padding-bottom: 2px;
  }

  .text-link
  {
    padding-bottom: 0;
    padding-top: 0;
  }
  
  
  .Navbar-items-center
  {
    left: 50%;
    display: flex;
    flex-direction: column;
  }

  .navbar-toggle {
    cursor: pointer;
    font-size: 20px;
  }


  .bi, .text-link
  {
    color: rgb(196, 196, 196);
    text-decoration: none;
  }

  .content-container
  {
    /* position: relative; */
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transition: transform .2s ease-out;
    width: max-content;
    height: max-content;
    top:20%;
    -moz-appearance: none;
  }
  
  .content-container.content-container-up
  {
    transform: translate(-50%, -30%);
    transition: transform .2s ease-out;  
  }


  @media only screen and (hover: none) and (pointer: coarse)
  {
  
    

    .navbar-link
    {
      padding-bottom: .5vh;
      font-size: 3vh;

    }
  }

  @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape)
  {
    .content-container
    {
        position: relative;
        transform: translate(-50%, 0%);
        transition: transform .2s ease-out;
        width: max-content;
        height: max-content;
        top:20%;
    }
    .content-container.content-container-up
    {
        transform: translate(-50%, -40%);
        transition: transform .2s ease-out;  
    }
    
    .content-move-up
    {
        height: 50vh;
        aspect-ratio:1/1;
        position: relative;
        top: 25%;
    }

    .Navbar__ToggleShow {
      display: flex;
      flex-direction: column;
      height: 40%;
      
    }

    .bottom-link.bottom-link-move-up
    {
        /* position: absolute; */
        transform: translateY(-420%);
        transition: transform .2s ease-out;
    }

    .bottom-link.bottom-link-move-up.horizontal-center
    {
        transform: translate(-50%,-350%) rotate(320deg);
        transition: transform .2s ease-out;
    }

    .navbar.active
    {
      transform: translateY(0%);
   
      transition: transform .2s ease-out;
    }

    .navbar {
      height: 35%;
    }
  }

  @media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait)
  {
    .model
    {
        width: 60vw;
        aspect-ratio:1/1;
        position:relative;
     
    }

    .model-move-up
    {
        height: 50vh;
        aspect-ratio:1/1;
        position: relative;
        top: 40%;
    }

    .splash-link
    {
      font-size: 30pt;
    }

    .topright
    {
        position: absolute;
        top: 5%;
        right: 15px;
    }
    
    .bottomright
    {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
    
    .bottomleft
    {
        position: absolute;
        bottom: 0;
        left: 15px;
    }
    
    .topleft
    {
        position: absolute;
        top: 5%;
        left: 15px;
    }

    .bottom-link.bottom-link-move-up
    {
        /* position: absolute; */
        transform: translateY(-500%);
        transition: transform .2s ease-out;
    }

    .bottom-link.bottom-link-move-up.horizontal-center
    {
        transform: translate(-50%,-20vh) rotate(320deg);
        transition: transform .2s ease-out;
    }

   
    .navbar-toggle {
      display: initial;
      cursor: pointer;
      font-size: 50px;
      bottom: 10%;
    }

    .Navbar__Link
    {
      font-size: 12pt;
      padding: 10px;
    }

    .Navbar__ToggleShow {
      display: flex;
      flex-direction: column;
      height: 25%;
      
    }

    .navbar.active
    {
      transform: translateY(0%);
      transition: transform .2s ease-out;
    }

    .navbar {
      height: 23vh;
    }

  }

